.just-padding {
    padding: 15px;
}

.icon-bar {
    color: black;
    border-color: black;
    background-color: black;
}

.panel-body.login {
    margin-top: 50px;
    margin-bottom: 50px;
}

body {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.85)), color-stop(100%, rgba(255, 255, 255, 0.7))), url("../img/empty-cinema.jpg") no-repeat 0 0;

    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}
